.formContainer {
    /* padding: 1rem; */
    margin-top: 3rem;
    margin-bottom: 3rem;
        /* border-left: 5px solid rgb(207, 205, 205); 
    border-right: 5px solid rgb(207, 205, 205);   */
    overflow-y: auto;
    overflow-x: hidden;
 }



 table {
    border-collapse:collapse;
    width: 100%;
    padding: 1rem ;
    border-radius: 30px;
    /* margin: 1rem auto; */
    /* border-left: 5px solid rgb(207, 205, 205); 
    border-right: 5px solid rgb(207, 205, 205);   */
  }
  
  th, td {
    
    text-align: left;
    text-align: center;
    /* border-radius: 3px; */
    padding: 0.9rem 2rem;
     text-align: justify;    
    border: none;

}



tr td .desc {
  width: 30%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
    font-size: 0.8rem;
    border-bottom: 1px solid rgb(207, 205, 205) ;
}

table th {
     border-bottom: 1px solid rgb(228, 225, 225);
    font-size: 0.8rem;
    font-weight: 800;
    opacity: 0.8;
    /* background-color: rgb(221, 218, 218); */
    background-color: rgb(218, 215, 215);

  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  

  td button {
    padding: 0.4rem 1rem;
    background-color: #1C7A7F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.7rem;
    cursor: pointer;
  }

  td button:nth-last-child(2){
    background-color: #45A96B;
  }
  